.header {
width: 1920px;
height: 96px;
left: 0px;
top: 0px;
background: #333333;
display: flex;
flex-direction: row;

}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 140px;
    padding-top: 25px;
}

.book {
display: flex;
}

.text {
   display: flex;
}

.login {
    position: absolute;
width: 41px;
height: 21px;
left: 1651px;
top: 45px;

}
.login a {
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

display: flex;
align-items: flex-end;
letter-spacing: 0.1px;
text-decoration-line: underline;
text-transform: capitalize;
text-decoration: none;
color: #FFFFFF;
}

.person {
    position: absolute;
    left: 88.96%;
right: 10.11%;
top: 45px;
bottom: 97.22%;

}
.fa-user-check, .fa-cart-arrow-down{
    color: white;
}
.shope {
    position: absolute;
    position: absolute;
    width: 17px;
    height: 18px;
    left: 1764px;
    top: 45px;
}