.panel {
    position: absolute;
width: 1920px;
height: 80px;
left: 0px;
top: 96px;
background: #FF6825;
}

.page-scrin {
    position: absolute;
    top: 33px;
    left: 141px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: white;
    display: flex;
    flex-direction: row;
    width: 250px;
}

.page-second {
    position: absolute;
   left: 55px;
   bottom: 3px;
   top: -14px;
   color: white;
   font-family: Oswald;
   font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}

.search-action{
    position: absolute;
width: 447px;
height: 40px;
    left: 1333px;
    top: 20px;
    border: none;
background: rgba(244, 244, 244, 0.78);
}
